.container {
    display: grid;
    grid-gap: 3px 3px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 275px 175px 90px;
    max-width: 1350px;
    width: 100%;
    margin: auto;
}

.header {
    grid-column: 1 / span 6;
    background-color: rgb(82, 167, 249);
    color: white;
    font-size: 18px;
    font-family: Cambria;
    line-height: 100px;
    text-indent: 20px;
}

.main-content {
    grid-column: 2 / span 3;
    grid-row-start: 2;
    background-color: rgb(111, 192, 65);
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: Cambria;
    line-height: 275px;
}

.sidebar {
    grid-column: 5 / span 1;
    grid-row-start: 2;
    background-color: rgb(179, 105, 225);
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: Cambria;
    line-height: 275px;
}

.twin-one {
    grid-column: 2 / span 2;
    grid-row-start: 3;
    background-color: rgb(243, 144, 26);
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: Cambria;
    line-height: 175px;
}

.twin-two {
    grid-column: 4 / span 2;
    grid-row-start: 3;
    background-color: rgb(243, 144, 26);
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: Cambria;
    line-height: 175px;
}

.footer {
    grid-column: 1 / span 6;
    background-color: rgb(2, 101, 192);
    color: white;
    font-size: 18px;
    font-family: Cambria;
    line-height: 90px;
    text-indent: 20px;
}